<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link th:href="'/asserts/css/bootstrap.min.css'" rel="stylesheet">

    <script type="text/javascript" th:src="'/asserts/plugins/fileinput/jquery-3.4.1.js'"></script>
    <script type="text/javascript" th:src="'/asserts/js/bootstrap.min.js'"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css">
    <link th:href="'/asserts/plugins/fileinput/fileinput.min.css'" rel="stylesheet">
    <script th:src="'/asserts/plugins/fileinput/fileinput.min.js'" type="text/javascript"></script>
    <script th:src="'/asserts/plugins/fileinput/piexif.js'" type="text/javascript"></script>
    <script th:src="'/asserts/plugins/fileinput/zh.min.js'" type="text/javascript"></script>

</head>

<body>
<div class="container-fluid">

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="form-group">
                <label>治疗之前的图片</label>
                <br>
                <input type="file" name="images"  id="file-pic" multiple />
            </div>
        </main>
    </div>
</div>

<script>

    $('#file-pic').fileinput({
        uploadUrl:"http://localhost:8080/upload/image/savefile", //接受请求地址
        //初始化上传文件框
        language: "zh",//配置语言
        showUpload : true, //显示整体上传的按钮
        showRemove : true, //显示整体删除的按钮
        uploadAsync: true,//默认异步上传
        uploadLabel: "上传",//设置整体上传按钮的汉字
        removeLabel: "移除",//设置整体删除按钮的汉字
        uploadClass: "btn btn-primary",//设置上传按钮样式
        showCaption: true,//是否显示标题
        dropZoneEnabled: false,//是否显示拖拽区域
        maxFileSize : 100000,//文件大小限制
        maxFileCount: 1000,//允许最大上传数，可以多个，
        enctype: 'multipart/form-data',
        allowedFileExtensions : ["jpg", "png","gif","pptx"],/*上传文件格式限制*/
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        showBrowse: true,
        browseOnZoneClick: true
    });

    $('#file-pic').on("fileuploaded", function(event, data, previewId, index) {
        alert("上传成功");
        var response = data.response;
        $("#effectImage1").val(response.url)
        $("#effectImage1Before").remove();
    });

    $('#file-pic').on("fileuploaderror", function(event, data, previewId, index) {
        alert("上传失败");
    });

</script>

</body>

</html>
